<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muy.mapper.user.UserMapper">
    <select id="selectByUserName" resultType="com.muy.entity.user.UserDO">
        SELECT
          user_id,
          user_name,
          nick_name,
          mobile
        FROM
          my_user
        WHERE
          user_name = #{userName}
    </select>

    <select id="selectByUserId" resultType="com.muy.entity.user.UserDO">
        SELECT
          user_id,
          user_name,
          nick_name,
          mobile
        FROM
          my_user
        WHERE
          user_id = #{userId}
    </select>
</mapper>